/* Fondo y configuración global */
body {
    background-image: url('https://img.freepik.com/fotos-premium/paisaje-montana-atardecer-fondo_849715-4749.jpg');
    background-size: cover;
    background-position: center;
    color: #EFDBBD;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    backdrop-filter: brightness(0.4);
    flex-direction: column;
    margin: 0;
}

/* Logo */
.logo img {
    width: 180px;
    height: auto;
    margin-bottom: 20px;
    opacity: 0.9;
}

/* Estilo de contenedores */
.register-container, .login-container {
    background-color: rgba(239, 219, 189, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: center;
    color: #4B0907;
}

/* Estilos compartidos */
.register-container h2, .login-container h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.form-control {
    background-color: #EFDBBD;
    border: none;
    border-bottom: 2px solid #4B0907;
    border-radius: 0;
    color: #4B0907;
}

.form-control:focus {
    box-shadow: none;
    border-color: #874000;
}

.btn-custom {
    background-color: #BC5F04;
    color: #EFDBBD;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    padding: 10px;
}

.btn-custom:hover {
    background-color: #874000;
}

/* Iconos de contraseña */
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #4B0907;
    font-size: 1.2rem;
}

/* Select personalizado */
.custom-select {
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    padding-right: 2.5rem; /* Espacio para la flecha */
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolyline points="6 9 12 15 18 9"%3E%3C/polyline%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 1rem center; /* Posiciona la flecha */
    background-size: 1rem;
}

.custom-select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Efecto de enfoque */
}

/* Estilo especial para el botón de Administrador */
.btn-psico {
    background-color: #4B0907;
    color: #EFDBBD;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    padding: 10px;
}

.btn-psico:hover {
    background-color: #ecc68d; /* Azul más oscuro al hacer hover */
}

/* Estilo especial para el botón de Administrador */
.btn-admin {
    background-color: #3c91e6; /* Azul Bootstrap */
    color: #EFDBBD;

}

.btn-admin:hover {
    background-color: #1b7ee0; /* Azul más oscuro al hacer hover */
}